@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");

}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2{
  text-align: center;
  font-size: 1.25em;
  font-weight: 100;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* ARTICLES */

div#clients img{
	width: 50%;
	margin-top: 3%;
	margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

a#CV{
  margin-left: 48%;
  margin-right: 48%;
}

div#user_research{
	height: 900px;
	width: 100%;
	background-image: linear-gradient(0deg, #83D0E1 0%, #887CEB 100%);
}

div#user_research h2{
	font-family: Codystar, Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	padding-top: 10%;
}

div#user_research h2 p{
	font-family: Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	margin-left: 40%;
	margin-right: 40%;
}

div#user_research ul{
  text-align: center;
}

div#user_research ul li{
	display: inline-block;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
}

div#info_arch{
	height: 800px;
	width: 100%;
	background-image: linear-gradient(180deg, #83D0E1 0%, #80D79F 100%);
}

div#info_arch h2{
	font-family: Codystar, Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	padding-top: 5%;
}

div#info_arch h2 p{
	font-family: Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	margin-left: 40%;
	margin-right: 40%;
}

div#info_arch ul{
  text-align: center;
}

div#info_arch ul li{
	display: inline-block;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
}

div#ixd{
	height: 800px;
	width: 100%;
	background-image: linear-gradient(0deg, #E3E584 0%, #80D79F 100%);
}

div#ixd h2{
	font-family: Codystar, Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	padding-top: 5%;
}

div#ixd h2 p{
	font-family: Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	margin-left: 40%;
	margin-right: 40%;
}

div#ixd ul{
  text-align: center;
}

div#ixd ul li{
	display: inline-block;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
}

div#learning{
	height: 800px;
	width: 100%;
	background-image: linear-gradient(180deg, #E3E584 0%, #D79080 100%);
  margin-bottom: 10%;
}

div#learning h2{
	font-family: Codystar, Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	padding-top: 5%;
}

div#learning h2 p{
	font-family: Lato, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #fff;
	margin-left: 40%;
	margin-right: 40%;
}

div#learning ul{
  text-align: center;
}

div#learning ul li{
	display: inline-block;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
}

div.footer{
  padding-left: 20%;
  padding-right: 20%;
}

div.footer#gsx{
  background-image: url("../img/gsx_bkgd.jpg");
  background-repeat: no-repeat;
}

p#end{
	font-size: 2.5em;
	text-align: center;
}

p#end2{
	font-size: 1.5em;
	padding-top: 0;
	padding-bottom: 3%;
	text-align: center;
}

div.footer div#contact{
	height: 230px;
	width: 100%;
	padding-top: 2%;
}

div.footer div#contact ul{
	list-style-type: none;
  text-align: center;
  margin-top: 3%;
  margin-left: 28%;
  margin-right: 28%;
  padding-left: 0px;
}

div.footer div#contact ul a{
	display: inline-block;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

div.footer div#contact p{
	text-align: center;
	position: relative;
	font-family: Lato, sans-serif;
	font-size: 0.7em;
	color: #545B61;
  margin-top: 3%;
}

div.line{
	padding-top: 5%;
}


/* GSX */

div#google_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#google_skills ul li img{
	height: 70%;
	width: 70%;
}

div#google_text{
	width: 100%;
	height: auto;
	color: #6F8FC1;
	margin-top: 5%;
  text-align: center;
}

div#google_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
	font-size: 1.5em;
	text-align: center;
}

div#google_text img#content{
	width: 75%;
	height: auto;
	border: 10px#6F8FC1 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 5%;
  /*cursor: zoom-in;*/
}

div#google_text iframe{
	/*width: 400px;
	height: 700px;*/
	border:10px #6F8FC1 solid;
	border-radius: 10px 10px 10px 10px;
	margin-left: 20px;
}



/* Sony */

div#sony_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#sony_skills ul li img{
	height: 70%;
	width: 70%;
}

div#sony_text{
	width: 100%;
	height: auto;
	color: #0099CA;
	margin-top: 5%;
  text-align: center;
}

div#sony_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#sony_text img#content{
	width: 75%;
	height: auto;
	border: 10px#0099CA solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}

div#sony_text iframe{
	width: 75%;
	border:10px #0099CA solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 3%;
}


/* Identity */

div#identity_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#identity_skills ul li img{
	height: 70%;
	width: 70%;
}

div#identity_text{
	width: 100%;
	height: auto;
	color: #2196F3;
	margin-top: 5%;
  text-align: center;
}

div#identity_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
	font-size: 1.5em;
	text-align: center;
}

div#identity_text img#content{
	width: 75%;
	height: auto;
	border: 10px #2196F3 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 5%;
}


/* Princess */

div#princess_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#princess_skills ul li img{
	height: 70%;
	width: 70%;
}

div#princess_text{
	width: 100%;
	height: auto;
	background-color: #fff;
	color: #51A6FA;
	margin-top: 5%;
  text-align: center;
}

div#princess_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#princess_text img#content{
	width: 75%;
	height: auto;
	border: 10px#51A6FA solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}

div#princess_text iframe{
	/*width: 400px;
	height: 700px;*/
	border:10px #51A6FA solid;
	border-radius: 10px 10px 10px 10px;
	margin-left: 20px;
}


/* Nvidia */

div#nvidia_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#nvidia_skills ul li img{
	height: 70%;
	width: 70%;
}

div#nvidia_text{
	width: 100%;
	height: auto;
	color: #72BA43;
	margin-top: 5%;
  text-align: center;
}

div#nvidia_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#nvidia_text img#content{
	width: 75%;
	height: auto;
	border: 10px#72BA43 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}



/* Toyota */

div#toyota_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#toyota_skills ul li img{
	height: 70%;
	width: 70%;
}

div#toyota_text{
	width: 100%;
	height: auto;
	background-color: #fff;
	color: #E62129;
	margin-top: 5%;
  text-align: center;
}

div#toyota_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#toyota_text img#content{
	width: 75%;
	height: auto;
	border: 10px#E62129 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}

div#toyota_text iframe{
	width: 75%;
	border:10px #E62129 solid;
	border-radius: 10px 10px 10px 10px;
}



/* Inner Circle */

div#innerc_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#innerc_skills ul li img{
	height: 70%;
	width: 70%;
}

div#innerc_text{
	width: 100%;
	height: auto;
	color: #E7C59F;
	margin-top: 5%;
  text-align: center;
}

div#innerc_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#innerc_text img#content{
	width: 75%;
	height: auto;
	border: 10px#E7C59F solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}



/* Samsung */

div#samsung_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#samsung_skills ul li img{
	height: 70%;
	width: 70%;
}

div#samsung_text{
	width: 100%;
	height: auto;
	color: #009CA6;
	margin-top: 5%;
  text-align: center;
}

div#samsung_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#samsung_text img#content{
	width: 75%;
	height: auto;
	border: 10px#009CA6 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}



/* Driver */

div#driver_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#driver_skills ul li img{
	height: 70%;
	width: 70%;
}

div#driver_text{
	width: 100%;
	height: auto;
	color: #CEBCE1;
	margin-top: 5%;
  text-align: center;
}

div#driver_text p{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 5%;
	font-weight: inherit;
  font-size: 1.5em;
	text-align: center;
}

div#driver_text img#content{
	width: 75%;
	height: auto;
	border: 10px#CEBCE1 solid;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 2%;
}



/* Hotspot */

div#hotspot_text{
	width: 100%;
	height: auto;
	color: #F89495;
	margin-top: 5%;
  text-align: center;
}

div#hotspot_skills ul li{
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

div#hotspot_skills ul li img{
	height: 70%;
	width: 70%;
}
